.tasks-list-header {
    font-size: 30px;
    padding: 20px;
}

.all-groups-button {
    vertical-align: middle;
    vertical-align: middle;
    margin-left: 30%;
    border: none;
    color: #439af7;
}